
.header__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding-right: 20px;

    background-color: #565656;
    box-sizing: border-box;
}

.btn {
    padding: 5px;
    background-color: burlywood;

    color: black;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: lightslategrey;
}

.btn:active {
    opacity: 0.6;
}

