.navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    list-style: none;
}

.navigation__link {
    display: block;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 4px solid #565656;

    padding: 20px;
    opacity: 1;
    transition: .5s;
}

.navigation__link:hover {
    opacity: 0.5;
}

.navigation__link--active {
    border-bottom: 4px solid white;
    pointer-events: none;
    cursor: default;
}